In [2]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split,cross_val_score

In [3]:
df=pd.read_csv("SalaryData_Test(1).csv")

In [4]:
df.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  object
 2   education      15060 non-null  object
 3   educationno    15060 non-null  int64
 4   maritalstatus  15060 non-null  object
 5   occupation     15060 non-null  object
 6   relationship   15060 non-null  object
 7   race           15060 non-null  object
 8   sex            15060 non-null  object
 9   capitalgain    15060 non-null  int64
 10  capitalloss    15060 non-null  int64
 11  hoursperweek   15060 non-null  int64
 12  native         15060 non-null  object
 13  Salary         15060 non-null  object
dtypes: int64(5), object(9)
memory usage: 1.6+ MB

In [6]:
df.drop(['workclass','race','sex','relationship','workclass','educationno'],axis=1,inplace=True)

In [7]:
list(df)

['age',
 'education',
 'maritalstatus',
 'occupation',
 'capitalgain',
 'capitalloss',
 'hoursperweek',
 'native',
 'Salary']

In [8]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x=[
 'education',
 'maritalstatus',
 'occupation',
 'native',
 'Salary']
for i in x:
  df[i]=le.fit_transform(df[i])

In [9]:
df

,age,education,maritalstatus,occupation,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,1,4,6,0,0,40,37,0
1,38,11,2,4,0,0,50,37,0
2,28,7,2,10,0,0,40,37,1
3,44,15,2,6,7688,0,40,37,1
4,34,0,4,7,0,0,30,37,0
...,...,...,...,...,...,...,...,...,...
15055,33,9,4,9,0,0,40,37,0
15056,39,9,0,9,0,0,36,37,0
15057,38,9,2,9,0,0,50,37,0
15058,44,9,0,0,5455,0,40,37,0
15059,35,9,2,3,0,0,60,37,1

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   education      15060 non-null  int64
 2   maritalstatus  15060 non-null  int64
 3   occupation     15060 non-null  int64
 4   capitalgain    15060 non-null  int64
 5   capitalloss    15060 non-null  int64
 6   hoursperweek   15060 non-null  int64
 7   native         15060 non-null  int64
 8   Salary         15060 non-null  int64
dtypes: int64(9)
memory usage: 1.0 MB

In [11]:
array=df.values

In [12]:
array

array([[25,  1,  4, ..., 40, 37,  0],
       [38, 11,  2, ..., 50, 37,  0],
       [28,  7,  2, ..., 40, 37,  1],
       ...,
       [38,  9,  2, ..., 50, 37,  0],
       [44,  9,  0, ..., 40, 37,  0],
       [35,  9,  2, ..., 60, 37,  1]])

In [13]:
X=array[:,:-1]
Y=array[:,-1]

In [14]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.5)

In [15]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((7530, 8), (7530, 8), (7530,), (7530,))

In [16]:
def print_score(clf, X_train, y_train, X_test, y_test, train=True):
    if train:
        pred = clf.predict(X_train)
        clf_report = pd.DataFrame(classification_report(y_train, pred, output_dict=True))
        print("Train Result:\n================================================")
        print(f"Accuracy Score: {accuracy_score(y_train, pred) * 100:.2f}%")
        print("_______________________________________________")
        print(f"CLASSIFICATION REPORT:\n{clf_report}")
        print("_______________________________________________")
        print(f"Confusion Matrix: \n {confusion_matrix(y_train, pred)}\n")

    elif train==False:
        pred = clf.predict(X_test)
        clf_report = pd.DataFrame(classification_report(y_test, pred, output_dict=True))
        print("Test Result:\n================================================")
        print(f"Accuracy Score: {accuracy_score(y_test, pred) * 100:.2f}%")
        print("_______________________________________________")
        print(f"CLASSIFICATION REPORT:\n{clf_report}")
        print("_______________________________________________")
        print(f"Confusion Matrix: \n {confusion_matrix(y_test, pred)}\n")

In [17]:
rf_clf = SVC()
rf_clf.fit(X_train, Y_train)

print_score(rf_clf, X_train, Y_train, X_test, Y_test, train=True)
print_score(rf_clf, X_train, Y_train, X_test, Y_test, train=False)

Train Result:
================================================
Accuracy Score: 79.07%
_______________________________________________
CLASSIFICATION REPORT:
                     0            1  accuracy    macro avg  weighted avg
precision     0.795508     0.741840  0.790704     0.768674      0.781952
recall        0.969083     0.262881  0.790704     0.615982      0.790704
f1-score      0.873758     0.388199  0.790704     0.630979      0.751111
support    5628.000000  1902.000000  0.790704  7530.000000   7530.000000
_______________________________________________
Confusion Matrix:
 [[5454  174]
 [1402  500]]

Test Result:
================================================
Accuracy Score: 80.13%
_______________________________________________
CLASSIFICATION REPORT:
                     0            1  accuracy    macro avg  weighted avg
precision     0.809740     0.718208  0.801328     0.763974      0.787884
recall        0.965980     0.276418  0.801328     0.621199      0.801328
f1-score      0.880986     0.399197  0.801328     0.640092      0.765946
support    5732.000000  1798.000000  0.801328  7530.000000   7530.000000
_______________________________________________
Confusion Matrix:
 [[5537  195]
 [1301  497]]